---
import Layout from '../layouts/Layout.astro';

// Component imports
import { InfiniteScroller, SlantedContainer, Testimonial } from 'ui-components';

// Style imports
import '../styles/index.css';

// Theme imports
const themeMode: 'light' | 'dark' = 'light';
import { colors } from 'ui-components';

// Site meta data
const metaTitle = 'Christian Smith Mantas | Experienced Full Stack Web Developer & Software Engineer';
const metaDescription = 'Portfolio Christian Smith Mantas, a professional full stack developer specializing in responsive web design, Typescript, and other frameworkd. Discover projects, skills, and get in touch for collaborations.';
---

<Layout title={metaTitle} description={metaDescription} background={themeMode}>

	<!-- Hero block - Introduction and image -->
	<SlantedContainer color={colors[themeMode].primary.base}>
		<div class="hero-block">
			<div class="hero-block_child">
				<p
					class="hero-block_title"
					style={{color: colors[themeMode].fontColor.primary}}
				>
					Hi! I'm Christian, Welcome to my Portfolio
				</p>
				<p
					class="hero-block_description"
					style={{color: colors[themeMode].fontColor.secondary}}
				>
					A Fullstack developer, dedicated to designing and developing user-friendly web applications. Explore my contributions!
				</p>
			</div>
			<div class="hero-block_child">
				<SlantedContainer rotation="left" color={colors[themeMode].primary.lighter}>
					<div class="hero-block_extra">

					</div>
				</SlantedContainer>
			</div>
		</div>
	</SlantedContainer>

	<!-- Work ethics block - What I stand for -->
	<div class="standard-block">
		<div class="ethics-block">
			<div class="ethics-bullet">
				<p> <span class="ethics-tab"></span>	User-centric design</p>
				<p>Prioritizing user experience in every project, ensuring interfaces are intuitive and easy to navigate.</p>
			</div>
			<div class="ethics-bullet">
				<p> <span class="ethics-tab"></span> Performance first</p>
				<p>Employing techniques to optimize code and deliver high-performance applications.</p>
			</div>
			<div class="ethics-bullet">
				<p> <span class="ethics-tab"></span> Modern technologies</p>
				<p>Keeping up with the latest technology trends and continuously learning to offer the most up-to-date solutions.</p>
			</div>
			<div class="ethics-bullet">
				<p> <span class="ethics-tab"></span> Problem solving</p>
				<p>Passionate about developing innovative solutions to address personal and client-specific challenges.</p>
			</div>
		</div>
	</div>

	<!-- Tech block - My tools and tech stack -->
	<SlantedContainer rotation="left" color={colors[themeMode].secondary.base}>
		<div class="standard-block">
			<div class="tech-block">
				<p
					class="tech-block_title"
					style={{color: colors[themeMode].fontColor.primary}}
				>
					My daily drive Tech tools
				</p>
				<p
					class="tech-block_description"
					style={{color: colors[themeMode].fontColor.secondary}}
				>
					As a full-stack developer, I work with a variety of technologies daily to deliver comprehensive solutions to complex problems. From developing interactive user interfaces, managing backend logic, to handling data. These technologies equip me to address every layer of development.
				</p>
				<SlantedContainer color={colors[themeMode].secondary.lighter}>
					<div class="tech-block_stack">
						<InfiniteScroller 
							tags={['React JS', 'Astro', 'Svelte', 'TypeScript', 'JavaScript', 'HTML', 'CSS', 'Styled Components', 'Emotion', 'Tailwind', 'PHP', 'SASS', 'Node JS', 'Express', 'Fastify', 'React Native', 'Prisma', 'TypeBox', 'Git', 'SCSS']}
							rows={5},
							speed={40000}
						/>
					</div>
				</SlantedContainer>
			</div>
		</div>
	</SlantedContainer>

	<!-- Projects block - Projects I have personally worked on -->
	<div class="standard-block" style="flex-direction: column; gap: 10rem; padding: 6rem 0;">
		<div class="project-section">
			<div class="project-divs">
				<p class="project-title">CorzzoFit</p>
				<p class="project-description">A wellness platform offering 30-min workouts, meditation, and mindfulness sessions for both physical and mental wellness.</p>
			</div>
			<div class="project-section">
				<SlantedContainer>
					<div class="project-viewer" />
				</SlantedContainer>
			</div>
		</div>
		<div class="project-section">
			<div class="project-section">
				<SlantedContainer>
					<div class="project-viewer" />
				</SlantedContainer>
			</div>
			<div class="project-divs">
				<p class="project-title">Safeguru</p>
				<p class="project-description">Safeguru by A-Safe provides a platform to buy industrial and workplace safety products, along with resources on risk prevention and exclusive subscriber benefits.</p>
			</div>
		</div>
		<div class="project-section">
			<div class="project-divs">
				<p class="project-title">Asier Valera Psicología</p>
				<p class="project-description">Custom site for a general psicology practitioner in Málaga, Spain</p>
			</div>
			<div class="project-section">
				<SlantedContainer>
					<div class="project-viewer" />
				</SlantedContainer>
			</div>
		</div>
	</div>

	<!-- Testimonials block - Clients and co-worker's tesimonials -->
	<SlantedContainer rotation="left" color={colors[themeMode].secondary.base}>
		<div class="standard-block" style="flex-direction: column; gap: 2rem; padding: 2rem 0;">
			<p class="testimonial-title">Clients and Colleagues</p>
			<div class="testimonial-block">
				<Testimonial
					image={{
						src: 'https://pbs.twimg.com/profile_images/1090714620275245056/HS9xcEDk_200x200.jpg',
						alt: 'Christian'
					}},
					name='Christian Smith Mantas',
					userName='@casm101',
					testimonial='Working with Christian is always a blast - his knack for problem-solving and coding skills kept our team inspired. Plus, his love for open-source is seriously contagious. Miss those days!',
					theme='light'
				/>

				<Testimonial
					image={{
						src: 'https://pbs.twimg.com/profile_images/1090714620275245056/HS9xcEDk_200x200.jpg',
						alt: 'Christian'
					}},
					name='Christian Smith Mantas',
					userName='@casm101',
					testimonial="It's like jamming with your favorite band. He brings this great mix of expertise, creativity, and fun to the table.",
					theme='light'
					rotation='right'
				/>

				<Testimonial
					image={{
						src: 'https://pbs.twimg.com/profile_images/1090714620275245056/HS9xcEDk_200x200.jpg',
						alt: 'Christian'
					}},
					name='Christian Smith Mantas',
					userName='@casm101',
					testimonial="I used to look forward to our team meetings because of Christian, his easy-going personality, was just infectious!",
					theme='light'
					rotation='right'
				/>

				<Testimonial
					image={{
						src: 'https://pbs.twimg.com/profile_images/1090714620275245056/HS9xcEDk_200x200.jpg',
						alt: 'Christian'
					}},
					name='Christian Smith Mantas',
					userName='@casm101',
					testimonial="Christian's not just a brilliant coder, but a team player who knows how to make work fun. His enthusiasm for open source is as infectious as his laughter. Those were good times!",
					theme='light'
				/>
			</div>	
		</div>
	</SlantedContainer>

	<!-- Contact block -->
	<div class="standard-block">
		<div class="contact-block">
			<p>Like what you see here in my portfolio?</p>
			<p>Get in <a href="/contact">touch</a>!</p>
		</div>
	</div>
</Layout>
